
:root {
    --global-font-family: Verdana, sans-serif;
    --global-font-size: 0.8rem;
    --global-text-color: #222;
    --global-primary-title-size: 2rem;

    --color-primary: #145DA0;
    --color-primary-light: #B1D4E0;
    --color-primary-dark: #0C2D48;

    --color-secondary-light: #88498f;
    --color-secondary: #779fa1;
    --color-secondary-dark: #779fa1;

    --color-neutral-light: #9DB6CC;
    --color-neutral-dark: #525B76;

    --text-color-light: #222;
    --text-color-dark: #FFF;

    --color-success: #93E5AB;
    --color-warning: #A47786;
    --color-error: #533440;
}


#root{
    background-color: var(--color-primary-dark);
}
.GLAppMain{
    background-color: var(--color-primary-dark);
    color: var(--text-color-dark);
    text-align: center;
}

/*
    This neat trick eliminates a sub-grid.
 */
.GLUI_ImgButton {
    cursor:pointer;
}
.GLUI_ImgButton {
    cursor:pointer;
}
.GLUI_ListContainer {
    max-width: 75%;
}
.GLUI_ListItem, .GLUI_ListItemAdd{
    display:block;
    scale:80%;
    background-color: var(--color-primary);
    border-radius: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.GLUI_MainContainer {
    height:100vh;
}
.ItemListContainer{
    background-color: var(--color-primary-light);
    border-radius:10px;
}
.GLUIRootContainer{
    width:60%;
    height:4em;
}

.ItemListContainer .row {
    height:100%;
}
.ItemListContainer .row div img{
    display: flex;
    height: 3em;
}
.ItemListContainer .row div input{
   scale:2.0;
}